<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="EricssonMRContainer" connectionString="metadata=res://*/Models.EricssonMR.csdl|res://*/Models.EricssonMR.ssdl|res://*/Models.EricssonMR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.20.108\sql2008r2;initial catalog=EricssonMR;persist security info=True;user id=sa;password=sql123$%^;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>